body {
  background-color: blanchedalmond;
  font-family: sans-serif;
}
#intro img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  margin-top: 50px;
}
#intro img:hover {
  box-shadow: 0px 0px 30px black;
  transition: 0.4s;
}
figcaption {
  margin-top: 20px;
  margin-left: 58px;
  font-size: 20px;
}

#intro {
  padding: 80px 0px;
}
#intro .lead {
  margin-top: 40px;
  font-size: 30px;
}
#intro p,
#intro h1 {
  font-size: 19px;
  margin-left: 10%;
}
@media only screen and (max-width: 767px) {
  #intro img {
    margin-left: 27%;
  }
  figcaption {
    margin-left: 200px;
  }
}
footer .container {
  margin-top: 50px;
  font-size: 20px;
}
footer .container a:hover,
footer p:hover {
  text-shadow: 0px 0px 1px black;
}
